%h1.hidden Connect Qiita Account
- if @services.blank?   
  .col-md-7
    = form_tag services_path, role: 'form' do
      .form-group
        = text_field_tag :username, params[:username], class: 'form-control', placeholder: 'Username'
      .form-group
        = password_field_tag :password, params[:password], class: 'form-control', placeholder: 'Password'
      %div
        = submit_tag 'Connect', class: 'btn btn-primary'
        = link_to 'Cancel', root_path, class: 'btn btn-default'
- else
  %ul.list-unstyled.services
    %li
      .col-md-3 Qiita
      .col-md-5
        Connected as: 
        = link_to "#{@services.first.username}", "http://qiita.com/users/#{@services.first.username}" 
      .col-md-3= link_to 'Disconnect', service_path('qiita'), class: 'btn btn-danger', method: :delete
