.span4.offset4
  = form_tag services_path do
    %h1 Connect Qiita 
    = text_field_tag :username, params[:username], class: 'input-midium', placeholder: 'Username'
    = text_field_tag :password, params[:password], class: 'input-midium', placeholder: 'Password'
    %div
      = submit_tag 'Connect', class: 'btn btn-large btn-primary'
      = link_to 'Cancel', root_path, class: 'btn btn-large'
