.row-fluid.margin-t
  - unless flash.alert.blank?
    .alert.alert-error= flash.alert
  .span4.offset4
    = form_tag sessions_path do
      %h1 Sign in
      = text_field_tag :username, params[:username], class: 'input-midium', placeholder: 'Username'
      = password_field_tag :password, params[:password], class: 'input-midium', placeholder: 'Password'
      =# label_tag 'remember', class: 'checkbox' do
      =# check_box_tag 'remember', 'remember'
      =# Remember me
      %div= link_to 'forgot password?', new_password_reset_path
      %div.margin-t
        = submit_tag 'Sign in', class: 'btn btn-large btn-primary'
        = link_to 'Cancel', root_path, class: 'btn btn-large'
