- content_for :sidebar do
  %div
    %h3 Help
    = link_to "Qiita Markdown?", "http://qiita.com/items/c686397e4a0f4f11683d", target: '_blank'
%h1.hidden Post
= render partial: "errors", object: @note, as: :model
= form_for @note, role: 'form' do |f|
  .form-group
    = f.text_field :title, class: 'form-control', placeholder: 'Title'
  .form-group
    = f.text_field :tag_list, class: 'form-control', placeholder: 'Tags', data: { role: 'tagsinput' }
  .form-group
    = f.text_area :raw_body, class: 'form-control', rows: '25', placeholder: 'Note'
  %div
    = f.submit 'Post', class: 'btn btn-primary'
    = link_to 'Cancel', root_path, class: 'btn btn-default'
