.margin-t.span8.offset2
  %h1 Post 
  - if @note.errors.any?
    .errors-message
      %ul
      - @note.errors.full_messages.each do |message|
        %li= message
  = form_for @note do |f|
    = f.text_field :title, class: 'input-block-level', placeholder: 'Title'
    = f.text_area :raw_body, class: 'input-block-level', placeholder: 'Note'
    %div
      = f.submit 'Post', class: 'btn btn-large btn-primary'
      = link_to 'Cancel', root_path, class: 'btn btn-large' 
