- content_for :highlight do
  = stylesheet_link_tag "syntax", :media => "all"
- content_for :sidebar do
  %div.margin-bm
    - if current_user.owner?(@note)
      = link_to 'Edit', edit_note_path(@note), class: 'btn btn-block btn-primary'
      - if current_user.connected?
        -# TODO decorator
        = link_to 'Share Qiita', share_note_path(@note), class: 'btn btn-block btn-default', method: :post, data: { confirm: "Share this note with Qiita?" }
      - else
        = link_to 'Connect Qiita', services_path, class: 'btn btn-block btn-default'
    = link_to 'Awesome! Awesome!!', '#', id: 'fav', data: { note_id: @note.id }, class: 'btn btn-block btn-default'
  %div.margin-bm
    %h3 We say "Awesome!!"
    %div#dummy_favorited
      %span.favorited-user
        = link_to image_tag(current_user.avatar_url, class: 'user-img-s img-rounded'), user_path(current_user.username)
    %div#favorited
      -# TODO refactoring
      - @note.favorites.each do |fav|
        %span.favorited-user
          = link_to user_path(fav.user.username) do
            = image_tag(fav.user.avatar_url, class: 'user-img-s img-rounded')
            - if fav.point > 1
              %span.favorite-point= fav.point
  - if current_user.admin?
    %div.margin-bm
      %h3 Admin
      = link_to 'Edit', edit_note_path(@note)
  %div
    %h3 Help
    = link_to 'Qiita Markdown?', "http://qiita.com/items/c686397e4a0f4f11683d", target: '_blank'

.note
  %h1= @note.title
  - if @note.tags.present?
    .tags
      - @note.tags.each do |tag|
        = link_to tag.name, "#", class: "tag"
  ~ markdown @note.raw_body
.comments.margin-bm
  %h3 Comments
  %ul.list-unstyled
    - @note.comments.each do |comment|
      %li.comment
        %div
          = link_to image_tag(comment.user.avatar_url, class: 'user-img-s img-circle'), user_path(comment.user.username)
          %span.user-name
            = link_to comment.user.name, user_path(comment.user.username)
          - if current_user.owner?(comment)
            = link_to 'Edit', edit_comment_path(comment), class: "comment-options"
        %div.comment-body~ markdown comment.raw_body
  .div
    = form_for :comment, url: note_comments_path(@note), role: 'form' do |f|
      .form-group
        = f.text_area :raw_body, class: 'form-control', placeholder: 'Comment', rows: "3"
      %div
        = f.submit 'Post', class: 'btn btn-primary'
