.row.margin-t
  .col-md-4.col-md-offset-4
    %h1.hidden Forgot password
    - unless flash.alert.blank?
      .message.text-danger= flash.alert
    - unless flash.notice.blank?
      .message.text-success= flash.notice
    = form_tag password_resets_path, role: 'form' do
      %span.help-block Enter your email address.
      = text_field_tag :email, params[:email], class: 'form-control', placeholder: 'Email'
      %div.margin-t
        = submit_tag 'Submit', class: 'btn btn-primary'
        = link_to 'Cancel', signin_path, class: 'btn btn-default'
