%h1.hidden Account
= render partial: "errors", object: user, as: :model
.col-md-7
  = form_for user, url: account_path, html: { multipart: true }, role: 'form' do |f|
    .form-group
      = f.text_field :email, class: 'form-control', placeholder: 'Email'
    .form-group
      = f.file_field :avatar, class: 'form-control', placeholder: 'Avatar'
      = f.hidden_field :avatar_cache
    .form-group
      = f.text_area :bio, class: 'form-control', placeholder: 'Bio', rows: '3'
    %div
      = f.submit 'Update', class: 'btn btn-primary'
