.row-fluid.margin-t
  .span4.offset4
    - if @user.errors.any?
      .errors-message.alert.alert-block.alert-error
        %ul.unstyled
          - @user.errors.full_messages.each do |message|
            %li= message
    = form_for @user do |f|
      %h1 Sign up
      = f.text_field :username, class: 'input-midium', placeholder: 'Username'
      = f.text_field :email, class: 'input-midium', placeholder: 'Email'
      = f.password_field :password, class: 'input-midium', placeholder: 'Password'
      = f.password_field :password_confirmation, class: 'input-midium', placeholder: 'Confirmation'
      %div
        = f.submit 'Create an account', class: 'btn btn-large btn-primary'
        = link_to 'Cancel', root_path, class: 'btn btn-large'
