!!!5
%html
  %head
    %title Shitta
    = stylesheet_link_tag "application", :media => "all"
    = yield :highlight
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header.navbar.navbar-default.navbar-static-top{ role: 'navigation' }
      .container-fluid
        = link_to 'Shitta', root_path, title: 'Shitta', class: 'navbar-brand'
        %ul.nav.navbar-nav
          %li.active=link_to 'Home', root_path
          %li=link_to 'About', root_path
          %li=link_to 'Contact', root_path
        .navbar-text.navbar-right
          - if signin?
            = link_to image_tag(current_user.avatar_url, class: 'user-img-s'), user_path(current_user.username)
            .dropdown
              -# TODO check
              %ul.dropdown-menu.pull-right{ role: 'menu', 'aria-labelledby' => 'dLabel' }
                %li= link_to 'Account', account_path, tabindex: '-1'
                %li= link_to 'Profile', user_path(current_user.username), tabindex: '-1'
                %li= link_to 'Signout', signout_path, tabindex: '-1'
          - else
            = link_to 'Signin', signin_path, class: 'navbar-link'
    #container.container-fluid
      = content_for?(:content) ? yield(:content) : yield
