!!!5
%html
  %head
    %title Shitta
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          = link_to 'Shitta', root_path, title: 'Shitta', class: 'brand'
          .nav-collapse.collapse
            %ul.nav
              %li.active=link_to 'Home', root_path
              %li=link_to 'About', root_path
              %li=link_to 'Contact', root_path
    #container
      = yield
