!!!5
%html
  %head
    %title Shitta
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          = link_to 'Shitta', root_path, title: 'Shitta', class: 'brand'
          .nav-collapse.collapse
            %ul.nav
              %li.active=link_to 'Home', root_path
              %li=link_to 'About', root_path
              %li=link_to 'Contact', root_path
          %p.navbar-text.pull-right
            - if signin?
              = link_to image_tag(current_user.image_url, class: 'user-minimg'), '#'
              = link_to current_user.username, '#', class: 'navbar-link'
            - else
              = link_to 'Login', signin_path, class: 'navbar-link'
    #container.container-fluid
      .row-fluid.margin-t
        .span9
          .row-fluid
            = yield
        .span3
          .row-fluid
            = link_to 'Post Note', new_note_path, class: 'btn btn-block btn-primary btn-large btn-large-font'
