!!!5
%html
  %head
    %meta{ :charset => "UTF-8" }
    %title Shitta
    = stylesheet_link_tag "application", :media => "all"
    = yield :highlight
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{ rel: 'shortcut icon', href: '/favicon.ico' }
  %body
    %header.navbar.navbar-default.navbar-static-top{ role: 'navigation' }
      .container-fluid
        = link_to root_path, title: 'Shitta', class:'navbar-brand logo' do
          = image_tag 'logo.png', class: 'img-circle'
          %h1 Shitta
        - if signin?
          = form_tag search_notes_path, role: 'search', class: 'navbar-form navbar-left', method: :get do
            .input-group
              = text_field_tag :q, params[:q], class: 'form-control js-allow-submit', placeholder: 'Search'
              %span.input-group-btn
                = button_tag class: 'btn btn-default', name: nil do
                  %i.glyphicon.glyphicon-search
        %ul.nav.navbar-nav.navbar-right
          %li.active=link_to 'Home', root_path
          %li=link_to 'About', 'https://github.com/terut/shitta', target: '_blank'
          %li=link_to 'Contact', 'https://github.com/terut/shitta/issues', target: '_blank'
          - if signin?
            %li.dropdown
              %div.current-user{ "data-toggle" => "dropdown" }= image_tag current_user.avatar_url, class: 'user-img-s img-rounded'
              %ul.dropdown-menu{ role: 'menu', 'aria-labelledby' => 'dLabel' }
                %li{ role: 'presentation' }= link_to 'Account', account_path, tabindex: '-1', role: 'menuitem'
                %li{ role: 'presentation' }= link_to 'Profile', user_path(current_user.username), tabindex: '-1', role: 'menuitem'
                %li{ role: 'presentation' }= link_to 'Sign out', signout_path, tabindex: '-1', role: 'menuitem'
          - else
            %li= link_to 'Sign in', signin_path
    #container.container-fluid
      = content_for?(:content) ? yield(:content) : yield
