- content_for :content do
  .row.margin-t
    #sidebar.col-md-3
      .user-summary.margin-bm
        = image_tag current_user.avatar_url, class: 'margin-bm img-thumbnail'
        %p.profile-username= current_user.username
      %ul.nav.nav-stacked
        %li= link_to "Account", account_path
        %li= link_to "Services", services_path
    #main.col-md-9
      = yield
= render template: 'layouts/application'
